{
  "presets": [ "es2015" ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "sourceMap": "inline",
  "env": {
    "coverage": {
      "plugins": [ "istanbul" ]
    }
  }
}
